<section class="audio-container">
  <div class="audio-wave-container">
    <ngx-audio-wave color="#ee2133" [height]="100" #ngxAudioWave [hideBtn]="true" audioSrc="../assets/tone2.mp3"
      (click)="handleAudioClick($event)"></ngx-audio-wave>

    <div class="duration-container">
      <span>Current Time: {{ngxAudioWave.currentTime}}</span>
      <span>Duration: {{ngxAudioWave.duration}}</span>
    </div>

    <div class="audio-control" style="margin-top: 10px;">
      <button *ngIf="ngxAudioWave.isPause" class="audio-button play-button" (click)="ngxAudioWave.play()">Play</button>
      <button *ngIf="!ngxAudioWave.isPause" class="audio-button pause-button"
        (click)="ngxAudioWave.pause()">Pause</button>
      <button class="audio-button stop-button" (click)="ngxAudioWave.stop()">Stop</button>
    </div>
  </div>
</section>

<span class="multi-range-container">
  <span class="multi-range">
    <input type="range" class="lower-range" value="0" min="0" [max]="50" (change)="handleRangeChange($event)"
      id="lower">
    <input type="range" class="upper-range" min="0" value="50" [max]="50" (change)="handleRangeChange($event)"
      id="upper">
  </span>
</span>